/* BKG */
$bkg-cl-prim: rgba(255, 255, 255, 1);

/* TXT */
$txt-cl-prim: #333;
$txt-cl-sec: #777;

/* ELEMENT SIZE*/
$em-sm: 1rem;
$em-md: 2rem;
$em-lg: 4rem;

$el-plain: 100%;

/* PANEL WIDTH */
$w-pan-sm: 35vw;
$w-pan-md: 55vw;
$w-pan-md-l: 60vw;
